<h2>Buenas, soy Micael Gallego</h2>
<p>
	<img
		src="http://www.gravatar.com/avatar/3962b88bf15f16f849d2a11d700f3ae5.png"
		alt="Micael Gallego" title="Follow me on Twitter @micael_gallego"
		class="img-rounded floatLeft" /> Soy un desarrollador curioso. Y por
	eso, soy profesor de programación concurrente en la <a
		href="http://www.urjc.es">Universidad Rey Juan Carlos</a>, profesor de
	eXtreme programming en la escuela de negocios <a
		href="http://www.iebschool.com/">IEBS</a>. Arquitecto software y
	consultor en <a href="http://kurento.com/">Kurento</a>. Y también
	<a href="http://www.researchgate.net/profile/Micael_Gallego/">doctor en Ciencias de la Computación</a> especializado en metaheurísticas
	algoritmos de optimización.
</p>
<p>
	<iframe class="github-btn"
		src="http://ghbtns.com/github-btn.html?user=micaelgallego&repo=micaelgallego.github.com&type=watch&count=true"
		allowtransparency="true" frameborder="0" scrolling="0" width="80px"
		height="20px"></iframe>
	&nbsp;
	<iframe class="github-btn"
		src="http://ghbtns.com/github-btn.html?user=micaelgallego&repo=micaelgallego.github.com&type=fork&count=true"
		allowtransparency="true" frameborder="0" scrolling="0" width="98px"
		height="20px"></iframe>
</p>
<p>
	<a href="https://twitter.com/micael_gallego"
		class="twitter-follow-button" data-link-color="#0069D6"
		data-show-count="true">Follow @micael_gallego</a>
</p>
<p>
<ul class="buttons unstyled">
	<li><a href="http://github.com/micaelgallego" rel="me"
		class="social github" title="Go to github.com/micaelgallego"
		target="_blank"></a></li>
	<li><a href="http://es.linkedin.com/in/micaelgallego" rel="me"
		class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	<li><a href="http://www.twitter.com/micael_gallego" rel="me"
		class="social twitter" title="Go to twitter.com/micaelgallego"
		target="_blank"></a></li>
	<!--  <li><a href="http://feeds.feedburner.com/github/xmyo" rel="me"
		class="social rss" title="Go to feedburner micaelgallego rss feed"
		target="_blank"></a></li>-->
	<li><a href="https://plus.google.com/109409431458296649946/about"
		rel="me" class="social gplus" title="Go to Google Plus profile"
		target="_blank"></a></li>
	<li><a href="https://github.com/micaelgallego/Feedback/issues/new"
		rel="me" class="social mail" title="Leave feedback for Eric"
		target="_blank"></a></li>
</ul>
</p>