<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://micaelgallego.github.com">El desarrollador curioso</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="http://micaelgallego.github.com"><i class="icon-home"></i> Home</a>
		  </li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-comment"></i> Social <b class="caret"></b></a>
				<ul class="dropdown-menu">										
					<li class=""><a href="http://www.twitter.com/micael_gallego" rel="tooltip" title="Go to twitter.com/micaelgallego" target="_blank">Twitter</a></li>
					<li class=""><a href="http://github.com/micaelgallego" rel="tooltip" title="Go to github.com/micaelgallego" target="_blank">GitHub</a></li>
					<li class=""><a href="http://es.linkedin.com/in/micaelgallego" rel="tooltip" title="Go to LinkedIn profile" target="_blank">LinkedIn</a></li>
					<li class=""><a href="https://plus.google.com/109409431458296649946/about" rel="tooltip" title="Go to Google+ profile" target="_blank">Google+</a></li>
					<li class=""><a href="https://www.researchgate.net/profile/Micael_Gallego" rel="tooltip" title="Go to ResearchGate profile" target="_blank">ResearchGate</a></li>
					<!--<li class=""><a href="http://www.delicious.com/micaelgallego" rel="tooltip" title="Go to delicious.com/micaelgallego" target="_blank">Delicious</a></li>-->
															
					<!--<li class=""><a href="http://coderwall.com/micaelgallego" rel="tooltip" title="Go to coderwall/micaelgallego" target="_blank">Coderwall</a></li>-->
					<!--<li class="divider"></li>
					<li class=""><a href="http://feeds.feedburner.com/github/xmyo" rel="tooltip" title="Go to feedburner" target="_blank">RSS</a></li>-->
				</ul>
			 </li>
		<!--  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-list"></i> Projects <b class="caret"></b></a>
				<ul class="dropdown-menu">					
					<li class=""><a href="https://github.com/micaelgallego/xxxx" rel="tooltip" title="Go to Earth.js on GitHub" target="_blank">Project Title</a></li>				
				</ul>
			 </li>-->			
		</ul>		
	  </div>
	</div>
  </div>
</div>